.header__slider {
  position: relative;
}

.header__slider .slick-slide {
  margin: 0 5px;
}

.header__slider-image {
  width: 96.7rem;
  height: 32rem;
}

.header__slider-image img {
  object-fit: cover;
  object-position: top center;
}

.header__btn {
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--color-main);
  color: var(--color-white);
  transform: translateY(-50%);
}

.prev__btn {
  left: 3.6rem;
}

.next__btn {
  right: 3.6rem;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 2.3rem;
  height: 0.3rem;
  border-radius: 0.9rem;
  background-color: #929292;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: var(--color-white);
}

.catalog {
  margin-top: 3.5rem;
}

.catalog__title,
.sale__title,
.offer__title,
.events__title,
.information__title,
.contact__title {
  justify-content: space-between;
  padding: 1rem 0;
}

.catalog__content {
  margin-top: 2.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cc1 {
  grid-column: 1/3;
  grid-row: 1/4;
}

.cc2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.cc3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.cc4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.cc5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.catalog__card-image {
  width: 100%;
}

.catalog__card-image img {
  border-radius: 0.9rem;
}

.catalog__card-name {
  background: linear-gradient(180deg, #2a2a2a 0%, #2a2a2a 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 3.2rem;
  border-radius: 0 0 0.9rem 0.9rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.ccn1 {
  bottom: 30px;
}

.catalog__card-name a {
  color: var(--color-white);
}

.sale,
.offer,
.events,
.information,
.goldfish,
.contact {
  margin-top: 7.5rem;
}

.sale .container,
.offer .container {
  overflow: hidden;
}

.sale__main {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.prev,
.next {
  background-color: transparent;
  font-size: 1.9rem;
  z-index: 999;
}

.sale__content {
  margin: 2.1rem -2rem 0;
}

.sale__content .slick-slide {
  margin: 0 2rem;
}

.sale__card {
  padding: 3.1rem;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.6rem 1.6rem rgba(42, 42, 42, 0.16);
  border-radius: 0.9rem;
  height: 40.9rem;
  width: 25.5rem;
  position: relative;
}

.sale__card-image {
  width: 18rem;
  height: 15rem;
  margin: 0 auto;
}

.sale__card-image img {
  object-fit: contain;
}

.sale__card-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.sale__card-info p {
  text-align: center;
  font-weight: 700;
}

.price {
  font-size: 2.1rem;
}

.game {
  column-gap: 2.6rem;
  font-size: 1.3rem;
}

.game__info {
  column-gap: 0.5rem;
}

.info {
  font-size: 1.6rem;
}

.sale__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
}

.sale__btn {
  border: 0.2rem solid var(--color-third);
  border-radius: 0.9rem;
  color: var(--color-third);
  width: 16.3rem;
  height: 3.4rem;
  justify-content: center;
}

.add__cart {
  background-color: var(--color-third);
  color: var(--color-white);
  column-gap: 1rem;
}

.offer__main {
  display: flex;
  justify-content: space-between;
}

.offer__content {
  margin: 2.3rem -2rem 0;
  overflow: hidden;
}

.offer__content .slick-slide {
  margin: 0 2rem;
}

.offer__content .slick-list,
.sale__content .slick-list {
  height: 41rem !important;
}

.oci {
  position: relative;
}

.discount {
  position: absolute;
  background: var(--color-third);
  color: var(--color-white);
  border-radius: 1.4rem;
  max-width: 6.9rem;
  width: 100%;
  height: 2.9rem;
  justify-content: center;
  top: -10%;
  right: -10%;
}

.price1 {
  font-size: 2.1rem;
}

.price1 > span {
  position: relative;
}

.price1 > span::before {
  content: " ";
  display: block;
  width: 5.5rem;
  height: 0.1rem;
  border-top: 0.2rem solid var(--color-main);
  transform: rotate(-16deg);
  position: absolute;
  bottom: 50%;
  left: 0;
}

.events__content {
  margin: 2.1rem -2rem 0;
}

.events__content .slick-slide {
  margin: 0 2rem;
}

.events__content-image {
  max-width: 54rem;
  position: relative;
}

.events__content-image img {
  border-radius: 0.9rem;
}

.events__content-link {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 2.5rem;
  background: rgb(42, 42, 42, 0.79);
  border-radius: 0 0 0.9rem 0.9rem;
  color: var(--color-white);
}

.link__top {
  justify-content: space-between;
  margin-bottom: 1.1rem;
  flex-wrap: wrap;
}

.link__top h4 {
  color: var(--color-third);
}

.events__btn {
  background: linear-gradient(184.53deg, #f9a43f 5.27%, #fb791b 91.78%);
  border-radius: 0.9rem;
  color: var(--color-white);
  justify-content: center;
  max-width: 31.1rem;
  width: 100%;
  height: 7.1rem;
  font-weight: 700;
  font-size: 2.3rem;
  margin: 3.8rem auto 0;
}

.information__content {
  margin-top: 2.1rem;
  column-gap: 3rem;
  justify-content: center;
}

.information__content-image {
  position: relative;
  flex: 1;
}

.information__content-image img {
  border-radius: 0.9rem;
}

.information__link {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  padding: 2rem 0.5rem;
  width: 100%;
  height: 11.2rem;
  background: rgb(42, 42, 42, 0.79);
  border-radius: 0 0 0.9rem 0.9rem;
  color: var(--color-white);
}

.information__btn {
  justify-content: center;
  border: 0.3rem solid var(--color-third);
  border-radius: 0.9rem;
  max-width: 31.1rem;
  width: 100%;
  height: 7.1rem;
  margin: 3.8rem auto 0;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--color-main);
}

.goldfish {
  column-gap: 3rem;
}

.goldfish__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2.1rem;
  max-width: 54rem;
}

.goldfish__right {
  flex: 1;
  max-width: 54rem;
  filter: drop-shadow(0.5rem 0.6rem 1.6rem rgba(42, 42, 42, 0.16));
  row-gap: 1.5rem;
  flex-direction: column;
}

.goldfish__right h2 {
  display: none;
}

.goldfish__right img {
  border-radius: 0.9rem;
}

.contact__content {
  margin-top: 1.1rem;
  justify-content: space-between;
}

.contact__content-left {
  max-width: 44.6rem;
  flex: 1;
}

.contact__detail {
  display: flex;
  flex-direction: column;
  row-gap: 1.9rem;
}

.contact__detail .map {
  display: none;
}

.contact__details-info {
  column-gap: 2.4rem;
}

.contact__form {
  margin-top: 3.5rem;
}

.contact__form h3 {
  margin-bottom: 2.1rem;
}

.contact__form > span {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.contact__form > span > a {
  text-decoration: underline;
  color: var(--color-main);
}

.form__top {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.inp {
  opacity: 0.33;
  border: 0.1rem solid var(--color-main);
  border-radius: 0.9rem;
  width: 100%;
  padding: 1.3rem 1.9rem;
}

.form__message {
  width: 100%;
}

.contact__btn {
  width: 100%;
  height: 4.6rem;
  justify-content: center;
  background: linear-gradient(184.53deg, #f9a43f 5.27%, #fb791b 91.78%);
  border-radius: 0.9rem;
  margin-top: 2.1rem;
  color: var(--color-white);
  font-size: 1.9rem;
}

.contact__content-right {
  flex: 1;
  max-width: 54rem;
}

.map {
  border-radius: 0.9rem;
  width: 100%;
  height: 62.9rem;
}

@media (max-width: 1210px) {
  .sale__main,
  .offer__main {
    padding: 0 2rem;
  }
}

@media (max-width: 1110px) {
  .catalog,
  .sale__title,
  .sale__content,
  .offer__title,
  .offer__content,
  .events,
  .information,
  .goldfish,
  .contact {
    padding: 0 2rem;
  }
}

@media (max-width: 1068px) {
  .catalog__card-name {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  .contact__content {
    flex-direction: column;
  }

  .contact__detail .map {
    display: block;
    height: 23.6rem;
  }

  .map {
    display: none;
  }
}

@media (max-width: 859px) {
  .catalog__content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .catalog__card {
    grid-column: 1/2;
  }

  .cc1 {
    grid-row: 1/2;
  }

  .cc2 {
    grid-row: 2/3;
  }

  .cc3 {
    grid-row: 3/4;
  }

  .cc4 {
    grid-row: 4/5;
  }

  .cc5 {
    grid-row: 5/6;
  }

  .ccn1 {
    bottom: 0;
  }

  .goldfish {
    flex-direction: column;
    row-gap: 1.6rem;
  }

  .goldfish__left h2 {
    display: none;
  }

  .goldfish__right {
    order: -1;
  }

  .goldfish__right h2 {
    display: block;
  }
}

@media (max-width: 768px) {
  .ici1 {
    display: none;
  }

  .events__btn,
  .information__btn {
    font-size: 1.6rem;
  }
}

@media (max-width: 599px) {
  .header__slider-image {
    height: 21.7rem;
  }

  .header__slider-image img {
    object-position: top center;
  }

  .header__btn {
    display: none;
  }

  .events__content-link {
    padding: 1rem;
  }

  .events__content-link p,
  span {
    font-size: 1.4rem;
  }
}

@media (max-width: 599px) {
  .ici2 {
    display: none;
  }
}
